*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

body{
    background-color:hsl(210, 46%, 95%);
}

/* Grid */

.grid-container{
    display: flex;
    flex-direction: column;
    width: 325px;
    margin: auto;
}

.card{
    margin-top: 2em;
}

/* Grid Items  */

@media(min-width: 1000px){

    .card{
        margin-top: 0em;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(0px, auto);
        grid-gap: 20px;
        width: auto;
    }
    .daniel{
        grid-column: 1 / 3;
    }
    
    .jeanette{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    .patrick{
        grid-column: 2 / 4;
        grid-row-start: 2;
    }
    
    .kira{
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    } 
}


/* General Card Styling */

.card{
    padding: 1.5em;
    border-radius: 0.5em;
}

.user{
    display: flex;
    align-items: center;
}

.user_info{
    margin-left: 1.5em;
}

.user_experience{
    margin-bottom: 1em;
}

.user_background{
    line-height: 20px;
}

.user-white{
    color: white;
}

.graduate{
    border-radius: 2em;
    border: 1px solid hsl(0, 0%, 81%);
}

.user_info > .user-opacity {
    opacity: 0.5;
    font-size: 1rem;
}

.card > .user-opacity{
    opacity: 0.7;
}

.user{
    margin-bottom: 1.5em;
}

/* Daniel */

.daniel{
    background: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 95% 0%;
    background-color: hsl(263, 55%, 52%);
}

/* Jonathan */

.jonathan{
    background-color: hsl(217, 19%, 35%);
}

/* Jeanette and Kira */

.user-gray{
    color:  hsl(217, 19%, 35%);
}

.jeanette, .kira{
    background-color: white;
}

/* Patrick */

.patrick{
    background-color: hsl(219, 29%, 14%);
}
